/*Sequencing code by comments*/

/*----------------------------------------Basic card formatting----------------------------------------*/
body{
background-color: rgb(255, 255, 255);
}

p, h1, h2, h3, h4{
    margin: 25px;
}

img {
    height: fit-content;
    width: 100%;
    border: rgb(30, 148, 216);
    border-radius: 40px;
    border-width: 4px;
    border-style: solid;
    border-right: transparent;
    transition-property: width;
}

div{
    height: fit-content;
}
table{
    margin: 25px;
    border: 0px;
    color: white;
    justify-items: center;
    width: 80%;
}
td{
    border: 2px solid rgb(30, 148, 216);
}

ul{
    color: white;
}

#titleh1{
    color: rgb(30, 148, 216);
    animation-name: maintitle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-shadow: 2px 2px 5px black;
    margin-left: 15%;
}

#mainpanel{
    color: white;
}

#bord {
    border: rgb(30, 148, 216);
    border-style: solid;
    border-radius: 40px;
    border-width: 8px;
    border-left: transparent;
    border-right: transparent;
    background-color: rgb(24, 57, 77);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
}

/*----------------------------------------Making the first part grid----------------------------------------*/
#grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    max-height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

/*----------------------------------------Sticky cards, both pic and the description for responsivity----------------------------------------*/
#stickypic{
    z-index: -1;
    position: sticky;
    top: 1%;
}

#bordstk {
    border: rgb(30, 148, 216);
    border-style: solid;
    border-radius: 40px;
    border-left: transparent;
    border-width: 4px;
    background-color: rgb(24, 57, 77);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    z-index: -1;
    position: sticky;
    top: 1%;
}

/*----------------------------------------Movement animation call----------------------------------------*/
#move{
    width: fit-content;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    animation-name: movingtext;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/*----------------------------------------Link text and link underline coloring----------------------------------------*/
#linktext{
    color: white;
    width: fit-content;
    margin: 0;
}

a:visited {
    color: black;
  }
a:link {
    color: rgb(30, 148, 216);
  }
a:hover {
    color: white;
}

/*----------------------------------------Main title color-shadow animation----------------------------------------*/
@keyframes maintitle {
    0% {color: rgb(30, 148, 216); text-shadow: 2px 2px 5px black;}
    50% {color: black;text-shadow: 2px 2px 5px rgb(30, 148, 216);}
    100% {color: rgb(30, 148, 216);text-shadow: 2px 2px 5px black;}
  }

/*----------------------------------------Media screen to make the animation responsive----------------------------------------*/
@media screen and (max-width: 649px) {
    @keyframes movingtext { 
        from   {transform: translateX(0%);}
        to    {transform: translateX(0%);}
    }
}

@media screen and (min-width: 650px) and (max-width: 849px) {
    @keyframes movingtext { 
        from   {transform: translateX(-25%);}
        to    {transform: translateX(25%);}
    }
}

@media screen and (min-width: 850px) and (max-width: 1499px) {
    @keyframes movingtext { 
        from   {transform: translateX(-50%);}
        to    {transform: translateX(50%);}
    }
}

@media screen and (min-width: 1500px) {
    @keyframes movingtext { 
        from   {transform: translateX(-130%);}
        to    {transform: translateX(130%);}
}
}